# файлы создаваемые редакторами
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.orig
*.bak

# файлы операционной системы
.DS_Store
Thumbs.db
.bash_logout
.bashrc
.profile

# логи и бекапы
*.dt
*.log
*.log.old
!/backups/*.sql
npm-debug.log

# архивы
*.tar.gz
*.tar
*.zip
*.7z
*.cab
*.exe
*.rar
*.pak
*.zipx

# медиа-файлы
*.psd
*.pdf
*.doc
*.doxc
*.xls
*.xlsx
*.ppt
*.pttx

# менеджеры
node_modules/
package-lock.json