mixin renderProductItems(number)
	- for(var n = 0; n< number; n++ )
		.product-item
			img(src="/interface/images/img.jpg")
			button.name eewweweqwwew qe3f32f34 wedd3 dsd
			.wrap
				button.user username
				button.star
					+icon("star")
					span (234)
			.wrap
				button.favorite(type="default")
					+icon('heart_background')
				.price-item от 500р