font-face('/fonts', $font-primary, 'light', 300,'normal')
font-face('/fonts', $font-primary, 'regular', 400,'normal')
font-face('/fonts', $font-primary, 'medium', 500,'normal')
font-face('/fonts', $font-primary, 'semibold', 600,'normal')
font-face('/fonts', $font-primary, 'bold', 700,'normal')