/* Font and text */
$font-primary = 'Arial'
$font-family = $font-primary, serif

$xs = 415px
$sm = 768px
$md = 1024px
$lg = 1360px

// Neutrals
$black = #000000
$white = #ffffff
$n05 = #F2F2F2
$n10 = #E5E5E5
$n15 = #D9D9D9
$n20 = #CCCCCC
$n40 = #999999
$n50 = #7F7F7F
$n65 = #595959
$n80 = #333333
