@import '_var'
@import '_mixin'
@import 'ui/font'
@import 'ui/reset'
@import 'ui/grid'
@import 'ui/icons'


html
	height 100vh
body
	display flex
	flex-direction column
	height 100%
header
	flex 0 0 auto
main
	flex 1 0 auto
	//margin-bottom 50px
.block-center
	text-align center
	width 100%

