extends ../template/default
include ../mixins/renderProductItems
include ../mixins/renderProductSlider

block vars
	- var title = "Каталог";
	- var pagename = "catalog";

block css
	+pagecss(pagename)

block js
	+pagejs(pagename)

block content
	.container
		h1 Список карточек
		.product-list
			+renderProductItems(20)
		h2  Слайдер карточек
		.slider
			.slider-wrap.product-list
			.controls-wrap
		
		