.slider
	position relative
.slider-arrow
	width 24px
	height 24px
	display inline-block
	position absolute
	top 50%
	margin-top -20px
	border none
	&.next
		&:after
			content ">"
		right 0
		
	&.prev
		&:after
			content "<"
		left 0	