.product-item(data-article=`${n++}`)
	.badges-wrap
		a.badge.black(href="/") limited
	button.favorite.js-favorite(type="default" data-product="1257885")
		+icon('heart_background')
	.slide-bullet
		.slide-list
			.slide-item.active
				a.product-thumbnail(href="/product")
					picture
						img(src='/interface/images/ring_image.png')
			.bullets(data-glide-el="controls[nav]")
				.bullet.active(data-src="/interface/images/product_500.jpg")
				.bullet(data-src="/interface/images/product_500_2.jpg")
				.bullet(data-src="/interface/images/product_500_3.jpg")
	.prices
		.price.current  12 850 &#8381
		.price.prev  100 850 &#8381
	.onhover-wrap
		+rating(5)
		a(href="/product").product-description Обручальное кольцо из золота с бриллиантом
		//- .sizes
		//- 	.title Размер
		//- 	.btn-size-wrap
		//- 		each val, index in ['19','21', '22', '23-23', '19','21', '22', '23-23']
		//- 			button.size(data-size=`${val}`) #{val}
		.actions
			button.btn.full-width.add-to-cart
				+icon('close')
				span В корзину
			a.btn.bg.full-width.more(href="/product")
				span Подробнее